/*-------------------------RESET*/

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4em;
    margin: 30px auto;
    color: black;
}

h2 {
    font-size: 3em;
    color: black;

}

h3 {
    font-size: 1.5em;
    color: black;

}

.container {
    width: 800px;
    margin: 0 auto;
}

/*-------------------------FLEX-CLASS*/

.flex-container-h{
    display: flex;
    row-gap: 20px
}

.flex-container-v{
    display: flex;
    flex-direction: column;
    row-gap: 20px

}

.flex-sb{
    justify-content: space-between;
}

.flex-align-center{
    align-content: center;
    align-items: center;
}
.flex-end{
    justify-content: flex-end;
}
.flex-center{
    justify-content:center;
}
.flex-wrap{
    flex-wrap: wrap;
}

.vertical-center{
    vertical-align: middle;
}


/*-------------------------HEADER*/

header {
    padding: 0 20px;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 0px 1px black;
}

header a {
    margin: 10px;
}

.blue-button {
    background-color: #275FF6;
    display:inline;
    border-radius: 1px;
    color: #FFFFFF;
    padding: 5px 10px;
}

.white-button {
    background-color: #FFFFFF;
    display:inline;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1px;
    padding: 5px 10px;
}

/*-------------------------MAIN*/
/*INTRO*/
section {
    padding-top: 100px;
}

.intro {
    background-color: #B9CFE5;
}

.intro-container {
    width: 1000px;
    margin: 0 auto;
}

.intro-content {
    width: 100%;
}

.intro-text {
    height: 300px;
    width: 30%;
}

.intro-img {
    width: 70%;
    position: relative;
}

.intro-img img {
    position: absolute;
    width: 100%;
}

.arrow {
    font-size: 72px;
}

/*BUSINESS-OPPORTUNITY*/
.business-opportunity {
    margin-top: 120px;
}

.find-your-plan-fee {
}

.find-your-plan-fee div {
    margin: 20px 20px;
}

.monthly-fee span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
}

.annual-fee span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;

}

.monthly-fee:hover {
    cursor: pointer;

}

.annual-fee:hover {
    cursor: pointer;

}

.monthly-fee:hover span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 6px solid blue;
    display: inline-block;
    cursor: pointer;

}

.annual-fee:hover span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 6px solid blue;
    display: inline-block;
    cursor: pointer;
}

.business-plan-vertical-box {
    min-height: 700px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.box-container {
    width: 90%;
    margin: 0 auto;
}
.container-80{
    width: 80%;
    margin: 10% auto;
}

.business-plan-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: middle;
}

.business-plan-vertical-box div {
    flex-grow: 1;
}

.specification div {
    margin-top: 16px;
}

.day-of-trial {
    margin: 0 auto;
}

.list-icon::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 5px;
}

.list-icon.user::before{
    content: '\f007 ';
}

.list-icon.memory::before{
    content: '\f07b ';
}

.list-icon.functions::before{
        content: '\f1e0 ';
}
.list-icon.check::before{
    content: '\f00c ';
}

.business-plan-horizontal-box {
    height: 200px;
    margin: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.center{
    margin: 0px auto;
}

.columns-div-x3{
    width: calc( 100% / 3 - 10px * 2);
    margin: 0 10px;
}
.columns-div-x1{
    width: 100%;
    margin: 0 10px;
}
.columns-div-x2{
    width: 50%;
    margin: 0 10px;
}
.columns-div-x5{
    width: calc( 100% / 5 - 20px * 2);
    margin: 0 20px;
}
.drop-box-partner img {
    width: 100%;
}

.operations-vertical-box div {
    flex-grow: 1;
}
.flex-grow-0{
    flex-grow: 0;
}

.operations-img img{
    width: 100%;
}

.little-box{
    width: calc( 100% / 2 );
    height: calc( 100% / 2 );
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.little-box:hover{
    border: 10px solid rgba(255, 255, 255, 0.6);
}
.little-box img{
    height: calc( 100vw / 12 );
    width: calc( 100vw / 12 );
    filter: invert(100%)
}
.central-customer, .side-customers{
    width: calc( 100% / 3 );
    height: calc( 100vw / 3 );
    background-color: #F5F5F5;
}
.central-customer-logo img{
    width: 50%;
}
.customer{
    row-gap: 0px;
}
.customers-box{
    row-gap: 0px;
}
.side-customers{
    row-gap: 0px;
}

.box-1{
    background-color: #A2D39B;
}
.box-2{
    background-color:#610A2B;
}
.box-3{
    background-color:#0193CE;
}
.box-4{
    background-color:#FF261C;
}
.box-5{
    background-color:#D51E1E;
}
.box-6{
    background-color:#B4D0E7;
}
.box-7{
    background-color:#0D2481;
}
.box-8{
    background-color:#FFD830;
}
.banner-orizzontale{
    background-color:#B4D0E7;
    width: 100%;
    height: calc( 100vw / 3 * 0.75);
    row-gap: 0px;
}
.row-gap-0{
    row-gap: 0px;
}
.faq-questions{
    height: calc( 100vw / 18 );
    border-bottom: 1px solid black;
}
.faq-box div:first-child{
    border-top: 1px solid black;
}
.high-attention h2{
    color: #58132B;
}

/*-------------------------FOOTER*/
footer{
    background-color: black;
}
footer li,footer div,footer h4{
    color: white;
}