/*-------------------------RESET*/

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;   
    color: black; 

}
h1{
    font-size: 4em;
    margin: 30px auto;
}
h2{
    font-size: 3em;
}
.container{
    width: 800px;
    margin: 0 auto;
}
/*-------------------------HEADER*/

header{
    padding: 0 20px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a{
    margin: 10px;
}
.blue-button{
    background-color: #275FF6;
    display: inline;
    border-radius: 1px;
    color: #FFFFFF;
    padding: 5px 10px;
}

/*-------------------------MAIN*/
/*INTRO*/
main{
}
.intro{
    background-color: #B9CFE5;
}
.intro-container{
    width: 1000px;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    align-content: center;
    flex-direction: column;
}
.intro-content{
    display: flex;
    width: 100%;
}
.intro-text{
    height: 300px;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-img{
    width: 70%;
    position: relative;
}
.intro-img img{
    position: absolute;
    width: 100%;
}
.arrow{
    font-size: 72px;
}
/*BUSINESS-OPPORTUNITY*/
.business-opportunity{
margin-top: 120px;
}

.find-your-plan-fee{
    display: flex;
}
.find-your-plan-fee div{
    margin: 20px 20px;
}
.monthly-fee span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align:middle;
}
.annual-fee span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    vertical-align:middle;

}
.monthly-fee:hover span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 6px solid blue;
    display: inline-block;
}
.annual-fee:hover span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 6px solid blue;
    display: inline-block;
}

.business-plan-list{
    margin-top: 40px;
    display: flex;
}
.business-plan-vertical-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: calc( 100% / 3);
    margin: 0 10px;
    border: 1px solid black;
}

.box-container{
    width: 90%;
}
.business-plan-title{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}
.business-plan-vertical-box div{
    flex-grow: 1;
}




/*-------------------------FOOTER*/